/* .container {
    border: solid 1px black;
}
.container-fluid {
    border: 1px solid red;
} */
/* .article-info, .info {
    border: 2px dashed green;
    
} */


.logo {
    background-color:#1ba1d8;
    width: 60px;
    height: 60px;
    padding: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold ;
    position: relative;

}
.nombre {
    position: absolute;
    top: 12px;
    font-size: 22px;
}

.site-nav-bar {
    background-color: #00A7E3;
}

.nav .nav-item a {
    color: white;
    font-size: 14px;
    
}
.heighlight {
    background-color: #4DC2EB;
    border: 1Px solid ;
    padding: 0px 6px;
    margin: 0.5rem 0.5rem;
    border-radius: 5px;
}

.notif {
    background-color: rgb(11, 11, 52);
    
}

.info_en_continu {
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 5px 15px;
    
}
/* .col-12 {
    border: 2px dashed green;

} */
.horaire {
    background-color: #4DC2EB;
    padding: 5px;
}
.annonce_info {
    background-color: #eeeeee;
}
/* .info {
    background-color: aqua;
} */
